body{
	font-size: 12px;
}

.App{
	display: block;
  	background-color: #eee;
  	margin-left: auto;
 	margin-right: auto;
	padding:5rem;
	width:100rem;

}
.columnames_container{
	display:flex;
	margin:3px;
	align-items: center;
	justify-content: space-between;
	border-bottom:2px solid white;

}
.columnames{
	width:auto;
	text-align:center;
}
.flags{
	margin-right: 10rem;
}
.flag{
	width:10rem;
	height:auto;
}

.container{
	border-bottom: 2px solid white;
	font-size: 1.4rem;
	font-weight: 100;
	height:10rem;
	width:93rem;
	overflow:scroll;
	display:flex;
	flex: auto;
	align-items: center;
	justify-content: space-between;
}
.name{
	margin-right:6rem;
}
.country{
	text-align: center;
	width:20rem;
}
.language{
	display:flex;
	flex-direction: column;
}
.languages{
	padding:0.5rem;
	font-size: 1rem;
}